build/
*.o
*.a
*.so
*.ko
*.mod
*.mod.c
*.order
*.symvers
*.hex
*.elf
*.bin
__pycache__/
*.pyc
*.pyo
*.swp
*.bak
*~
.DS_Store
/ddrop.pdf
/sev-attacks/snp_page_move/movepage/movepage
/tdx-attacks/sept-injection/victim-td/ddrop-victim

